* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',sans-serif;
  height: 100vh;
  background-color: #FF6263;
  display: flex;
}

#heading{
  font-size: 50px;
  color: #242B2E;
}

#headingsmall{
  font-size: 25px;
  color: #242B2E;
}
.flex-container {
  width: 1000px;
	height: 550px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;  
}

.gameContainer {
  width: 580px;
  height: 580px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 500px;
}

.scoreboard{	
  width:300 px;
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 80px;  
}

.text{
  display: flex;
  margin-top: 25px;
  height: 50px;
  background-color: #242B2E;
  color: #eeeeee;
  justify-content: center;
  font-size: 25px;
  border-radius: 8px;
}

.textValue{
  margin-top: 5px;
}

.score{
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 300px ;
  margin: auto;
  margin-top: 2px;
  /* align-items: center; */
  background-color: #eeeeee;
  justify-content: center;
  font-size: 25px;  
}
 .scoretext{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 15px;
  align-items: left;
  justify-content: center;
  width: 250px;
 }

 .scorevalue{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 15px;
  align-items: left;
  justify-content: center;
  color: #242B2E;
 }

 .buttons{
   display: flex;
   flex-direction: column;
 }

 .restartbutton{
  width: 150px;
  margin-left: 75px;  
  margin-top: 15px;
  justify-content: center;
  background-color:#242B2E;
}
/* feature */
/* .retainedshuffle{
  width: 150px;
  margin-left: 75px;  
  margin-top: 15px;
  justify-content: center;
  background-color:#242B2E;
} */

.card {
  width: 23%; 
  height: 23%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front,
.back {
  background-color: #242B2E;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

